networks:
  dockerapi-dev:
    driver: bridge

services:
  postgres:
    container_name: postgres
    image: postgres:latest
    environment:
      - POSTGRES_USER=korni
      - POSTGRES_PASSWORD=korni
      - POSTGRES_DB=pg
    ports:
      - "5432:5432"
    restart: always
    networks:
      - dockerapi-dev
  
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4320:80"
    depends_on:
      - postgres
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=postgres;Port=5432;Database=pg;User Id=korni;Password=korni;
    networks:
      - dockerapi-dev

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=p@p.com
      - PGADMIN_DEFAULT_PASSWORD=postgress
    ports:
      - "5050:80"
    restart: always
    networks:
      - dockerapi-dev